MODO=nube
API_URL=https://TU-API.execute-api.us-east-1.amazonaws.com/prod
SHARED_TOKEN=token-generado-al-desplegar-el-backend
AGENT_ID=LAB-PC01
UPLOAD_INTERVAL=60
MAX_FILE_MB=10
HIDE_CONSOLE=false
LOG_FILENAME=syslog_temp.dat
